.nav-item li{
    width: 100%;
}

.login-page{
    height: 100vh !important;
}

.login-box{
    width: 600px !important;
}

.nav-item li:hover{
    width: 100%;
}

.link-footer{
    color: rgb(124, 124, 124);
}

.nav-link{
    width: 100%;
}

.main-sidebar {
    height: 100%;
}

.footer-admin{
  bottom: 0;
  position: fixed;
}

.item-center{
    text-align: center;
}

.btn{
    border-radius: 10px;
}

.btn-add{
    width: 150px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  .sidebar .nav-sidebar li{
    font-size: large;
  }

  .col-producto{
    width: 32%;
  }

  .col-producto-existencia{
    width: 40%;
  }