.password-strength-meter {
  margin-bottom: 10px;
}

.password-strength-meter progress {
  width: 100%;
  height: 20px;
  border: none;
  border-radius: 5px;
}

.password-strength-meter p {
  margin-top: 5px;
  font-weight: bold;
}

.password-strength-meter ul {
  list-style-type: none;
  padding-left: 0;
}

.password-strength-meter ul li {
  color: #666;
  font-size: 14px;
}

.password-strength-meter .red {
  background-color: #ff4d4d; /* Color rojo para la barra de progreso */
}

.password-strength-meter .yellow {
  background-color: #ffd633; /* Color amarillo para la barra de progreso */
}

.password-strength-meter .green {
  background-color: #66ff66; /* Color verde para la barra de progreso */
}
