/* header, main, footer {
  font-family: '';
} */


/*
Sidebar
*/


.item-sidebar{
  display: flex;
  height: 60px;
  margin-left: 30px;
  align-items: center;
}

.list-unstyled li:hover{
 background-color:rgba(0, 0, 0, 0.2);
}

/*
Sidebar end
*/
.btn-delete{
  background-color: red;
  border-radius: 100%;
  height: 50px;
  width: 50px; 
}

.selector-item{
  cursor: pointer;
}

.numero-items-carrito {
  position: absolute;
    top: 80px;
    right: 167px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    padding: 2px 4px;
    justify-content: center;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
}

/* Modal de carrito */
.modal-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  height: auto;
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.close-button {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

.aling-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-cart {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
  z-index: 9998; /* Asegúrate de que el overlay esté debajo del modal */
}
.modal-cart {
  border: none;
  z-index: 9999;
  border-radius: 20px;
}

.modal-cart .header-carrito {
  background-color: #c543c7;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}
.carrito-items {
  /* Estilos para el contenedor de los elementos del carrito */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si los elementos exceden la altura */
  max-height: 250px; /* Establece la altura máxima para mostrar solo tres elementos */
}

.modal-cart .carrito-item {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #666;
  padding: 20px;
}

.modal-cart .carrito-item img {
  margin-right: 20px;
}

.modal-cart .carrito-item .carrito-item-titulo {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.modal-cart .carrito-item .selector-cantidad {
  display: inline-block;
  margin-right: 25px;
}

.modal-cart .carrito-item .carrito-item-cantidad {
  border: none;
  font-size: 18px;
  background-color: transparent;
  display: inline-block;
  width: 30px;
  padding: 5px;
  text-align: center;
}

.modal-cart .carrito-item .selector-cantidad i {
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}

.modal-cart .carrito-item .carrito-item-precio {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.modal-cart .carrito-item .btn-eliminar {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  background: transparent;
  z-index: 20;
}

.modal-cart .carrito-item .btn-eliminar i {
  pointer-events: none;
}

.carrito-total {
  background-color: #f3f3f3;
  padding: 30px;
}

.carrito-total .fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.carrito-total .btn-pagar {
  display: block;
  width: 100%;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.modal-cart-total .btn-pagar:hover {
  transform: scale(
    1.05
  ); /* Corregido el nombre de la propiedad de transformación */
}

/* CartModal.css */

.card-alumno {
  background-color: #f9f9f6;
  border-radius: 20px;
  width: 600px;
  padding: 40px;
  margin-bottom: 50px;
}

.input-group-append {
  height: 38px;
}

article,
p,
li {
  font-size: 20px;
}

/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.columna-2 {
  width: 50%;
}
/* Estilos para el encabezado */
.content-routes {
  margin-top: 0px; /* Ajusta el valor de acuerdo a la altura de tu encabezado */
}

.hidden {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

header {
  background-color: #f8c6f9;
  padding: 5px;
  text-align: center;
  display: flex;
  height: auto;
}

header.scrolled {
  background-color: #f8c6f9; /* Cambia el color de fondo cuando se desplaza hacia abajo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra cuando se desplaza hacia abajo */
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
}

.cinta-opciones {
  display: inline;
  margin-right: 20px;
  font-weight: lighter;
}

.text-user{
  font-size: 28px;
  text-decoration: none;
}

.text-idUser{
  font-size: 11px;
}

.text-user:hover{
  font-weight: bold;
  color: #000;
}

.cinta-opciones a:hover {
  color: #212121;
  font-weight: bolder;
}

.dropdown a:hover {
  color: #212121;
}

.column a:hover {
  color: #fff;
  font-weight: bolder;
}

.cart a :hover {
  color: rgb(0, 0, 0);
}

header nav {
  font-size: 20px;
}

header a {
  color: #212121;
  text-decoration: none;
  cursor: pointer;
}

.search-bar {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 100%;
}

.search-bar input {
  padding: 10px;
  width: 80%;
  border: none;
  /* Aplicar un radio solo a la esquina superior derecha del botón */
  border-top-left-radius: 20px;
  /* Aplicar un radio solo a la esquina inferior derecha del botón */
  border-bottom-left-radius: 20px;
  padding-left: 30px;
  color: #000000;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  padding: 10px 20px;
  color: #000000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 20%;
  border-top-right-radius: 20px;
  /* Aplicar un radio solo a la esquina inferior derecha del botón */
  border-bottom-right-radius: 20px;
}
.search-bar button:hover {
  background-color: #eeeeeee0;
}

.search-bar a {
  padding: 10px 20px;
  color: #000000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 20%;
  border-top-right-radius: 20px;
  /* Aplicar un radio solo a la esquina inferior derecha del botón */
  border-bottom-right-radius: 20px;
}
.search-bar a:hover {
  background-color: #eeeeeee0;
}

.columna {
  padding: 20px;
}

.columna-1 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-app {
  height: 85px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-user {
  margin-right: 10px;
  height: 45px;
}

.cart {
  display: flex;
  justify-content: center;
}

.icon-aling {
  vertical-align: middle;
}

.form-group-dialog {
  width: 60%;
}

.text-login {
  padding: 15px;
}

.text-login a {
  cursor: pointer;
}

.text-login p,
a {
  display: inline;
}

.text-login p {
  margin-right: 5px;
  font-size: 18px;
}

.text-login a {
  color: #ff2929;
  text-decoration: none;
}

.text-login a:hover {
  color: #ca0303;
}

.btn-option:hover {
  color: #ca0303;
}

.items-history {
  margin-left: 0.5rem;
}

.credentials {
  padding: 10px;
}

.credentials .form-group {
  font-size: 20px;
}

.register-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.register-footer .btn-primary,
.register-footer .btn-secondary {
  width: 180px;
}

.btn-primary,
.btn-secondary {
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Estilos para el pie de página */
footer {
  background-color: #9087b1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

/* Estilos para vínculos en el pie de página */
footer a {
  color: #fff;
  text-decoration: none;
}

.footer-end {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  padding: 1rem;
  background-color: #332e40;
  color: #d0d0d0;
}

.column {
  flex: 1; /* Cada columna tomará la misma cantidad de espacio disponible */
  padding: 10px 40px;
}

.column ul {
  list-style: none;
}

.column li {
  margin-left: -40px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 18px;
}

.column p {
  font-size: 18px;
}

.icon-container {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* Estilos para el cuerpo de la página */
main {
  flex: 1;
  padding: 20px;
  margin-left: 35px;
}

.title-pag {
  margin-left: 30px;
}

.hr-primary {
  width: 95%;
  border-color: #d300d8;
  border-width: 5px;
  margin-left: 30px;
}

.hr-primary-cont {
  width: 100%;
  border-color: #d300d8;
  border-width: 5px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 58px; /* Espacio entre las cartas */
  width: 95%;
  margin-left: 30px;
}

.catalog a {
  text-decoration: none;
  color: #000000;
}

/* Estilo base para la tarjeta */
.catalog .card {
  transition: box-shadow 0.3s ease; /* Transición de la sombra */
}

/* Efecto de sombra al pasar el ratón sobre la tarjeta */
.catalog .card:hover {
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

/* Efecto de transición cuando se selecciona la tarjeta (por ejemplo, haciendo clic en ella) */
.catalog .card:active {
  transform: scale(1.05); /* Escala la tarjeta al hacer clic */
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.carrusel-detalle .card {
  transition: box-shadow 0.3s ease; /* Transición de la sombra */
}

/* Efecto de sombra al pasar el ratón sobre la tarjeta */
.carrusel-detalle .card:hover {
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

/* Efecto de transición cuando se selecciona la tarjeta (por ejemplo, haciendo clic en ella) */
.carrusel-detalle .card:active {
  transform: scale(1.05); /* Escala la tarjeta al hacer clic */
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.catalog .card {
  padding: 20px;
  max-height: 450px;
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 20%;
}

.carrusel-detalle {
  display: flex;
  flex-wrap: wrap;
  gap: 58px; /* Espacio entre las cartas */
  width: 95%;
  margin-left: 30px;
  justify-content: center;
}

.carrusel-detalle a {
  text-decoration: none;
  color: #000000;
}

.carrusel-detalle .card {
  padding: 20px;
  max-height: 340px;
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 15rem;
}

.carrusel-button {
  background-color: #f8c6f9;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  top: 150%;
  transform: translateY(-50%);
}

/* Efecto de sombra al pasar el ratón sobre la tarjeta */
.carrusel-button:hover {
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2),
    0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.carrusel-button-left {
  left: 55px;
}

.carrusel-button-right {
  right: 25px;
}

.cont-img-carrusel {
  width: 100%;
}

.cont-img-carrusel img {
  height: 200px;
  border-radius: 20px;
}

.product-card {
  margin-top: 20px;
  flex: 1; /* Hace que las cartas ocupen el mismo espacio en la fila */
  border: 1px solid #ccc;
  padding: 0px;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.cont-img {
  width: 100%;
}

.cont-img img {
  height: 250px;
  border-radius: 20px;
}

.cont-description {
  height: 80px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Historial de compra */

.colum-detail-history {
  width: 100%;
}
.colum-detail-history .card {
  background-color: #f0f0f0;
  border-radius: 20px;
  display: flex;
  gap: 20px; /* Espacio entre las cartas */
}

.cont-filter {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: end;
}

.search-bar-history {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 35%;
  margin-left: 30px;
}

.search-bar-history input {
  padding: 10px;
  width: 80%;
  border: none;
  /* Aplicar un radio solo a la esquina superior derecha del botón */
  border-top-left-radius: 20px;
  /* Aplicar un radio solo a la esquina inferior derecha del botón */
  border-bottom-left-radius: 20px;
  background-color: #f0f0f0;
  color: #000000;
  padding-left: 30px;
}

.search-bar input:focus,
.filters input:focus {
  outline: none;
}

.search-bar-history button {
  padding: 10px 20px;
  color: #000000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 20%;
  border-top-right-radius: 20px;
  /* Aplicar un radio solo a la esquina inferior derecha del botón */
  border-bottom-right-radius: 20px;
  background-color: #f0f0f0;
}
.search-bar-history button:hover {
  background-color: #38ccec !important;
}
.bg-primary-c{
  background-color: #c543c7 ;
  align-items: center;
  color: white;
}

.bg-primary-c .modal-header{
  
  display: flex !important;
    justify-content: center;
    align-items: center !important;
}
.vertical-line {
  border-left: 20px solid green; /* Cambia el color y el ancho de la línea según tus necesidades */
  height: 100%; /* La altura de la línea será igual a la altura del contenido de la carta */
}

.filters {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filters h5 {
  display: flex;
  align-items: center;
}

.filters input {
  border-radius: 20px;
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  padding-left: 20px;
  color: #000000;
}

.filters input:hover {
  border: none;
}

.btn-filter {
  background-color: #38ccec;
  border-radius: 10px;
  border: none;
  color: white;
  width: 70px;
}

/* Detalle producto */

.detail-product {
  margin-top: 20px;
  width: 96%;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las cartas */
}

.col-md-6 img {
  margin: 1rem;
}

.title-product {
  font-size: 24px;
}

.colum-detail {
  width: 70%;
}
.colum-detail .card {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  gap: 20px; /* Espacio entre las cartas */
}

.img-detail {
  max-width: 420px;
  max-height: 420px;
  border-radius: 20px;
}

.colum-add {
  width: 28%;
}

.colum-add .card {
  background-color: #f0f0f0;
  border-radius: 20px;
}

.card-body {
  padding: 1rem !important;
}

.text-price {
  color: green;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  margin-top: 20px;
}

.card-text {
  padding-right: 10px;
  text-align: justify;
  font-size: 20px;
}

.cont-buttons {
  display: grid;
  margin-bottom: 20px;
}

.cont-buttons button {
  font-size: 16px;
}

.btn-secondary {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #38ccec;
  color: #fff;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: #20b4d5;
}

.btn-primary {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.btn-primary:disabled {
  background-color: #cccccc !important; /* Cambia el color de fondo */
  border-color: #999999 !important; /* Cambia el color del borde */
  cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
}
.cont-btn {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.cont-btn-2 {
  display: flex;
  justify-content: end;
  padding-left: 15px;
}

.cont-btn button {
  width: 180px;
  font-size: 15px;
}

.form-control {
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-bottom-color 0.3s;
  outline: none;
}
.custom-input {
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-bottom-color 0.3s;
  outline: none;
}

.custom-input:focus {
  border-bottom-color: #007bff; /* Color azul al enfocar el input */
}

.modal-footer .btn-primary {
  width: 150px;
  border-radius: 20px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.modal-header {
  height: 50px;
}

.cant {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.qr {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.qr img {
  height: 250px;
}

.counter {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100px;
  height: 30px;
  justify-content: center;
}

.counter button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: #fff;
  border-width: 2px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  width: 30px;
  text-align: center;
  font-size: 16px;
  margin: 0 10px;
  background-color: #fff;
}

/* Carrito */

.cont-img-car img {
  width: 130px;
  height: 130px;
  border-radius: 20px;
}

.cont-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.a-option {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-option {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: #ff4444;
  font-weight: bold;
}

.cont-cant {
  gap: 20px;
}

.aling-center-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
}

.text-righ {
  text-align: end;
}

/* formulario de registro */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.container img {
  border-radius: 15px;
}

.container label {
  color: black;
}

.form-group {
  padding-left: 15px;
}

/* .form-group textarea{
    padding-left: 15px;
  } */

.profile-usr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-usr img {
  border-radius: 100%;
  width: 80%;
}

.login-page {
  height: 60vh !important ;
  background-color: none;
}

.cont-breadcrumbs {
  margin-left: 50px;
}

.cont-breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.cont-breadcrumbs a:hover {
  color: #1965bd;
}

.login-box {
  width: 750px !important;
}

/* Estilos para los recuadros */
.recuadro {
  background-color: #f8f9fa; /* Color de fondo */
  border: 1px solid #dee2e6; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: all 0.3s ease; /* Transición suave */
}

/* Estilos para el texto dentro de los recuadros */
.recuadro p {
  font-size: 16px; /* Tamaño de la fuente */
  color: #212529; /* Color del texto */
}

/* Estilos cuando se pasa el ratón por encima del recuadro */
.recuadro:hover {
  transform: translateY(-5px); /* Efecto de elevación */
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

/* Estilos para el validador de contraseñas */

.password-strength-meter {
  margin-bottom: 10px;
}

.password-strength-meter progress {
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 5px;
}

.password-strength-meter p {
  margin-top: 5px;
  font-weight: bold;
  font-size: 13px;
  color: #646464;
}
