/* Botón de alternancia (menú hamburguesa) */
.toggle-button {
  display: none; /* Asegúrate de que siempre esté visible */
}

.cont-forgot{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrito-button {
  display: none;
}

/* Estilos para ocultar y mostrar el contenido del menú */
.header-public {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-public.hidden {
  transform: translateX(
    -100%
  ); /* Ocultar el contenido moviéndolo fuera de la vista */
}

.header-public.show-menu {
  transform: translateX(0); /* Mostrar el contenido */
}

.Menu {
  display: none;
}

.product-carrito{
  margin-left: 1.5rem !important;
}

.item-carrito-responsive{
  display: none !important;
}

.item-responsive{
  display: none !important;
}

.form-check-input{
  width: 20px;
  height: 20px;
  border-color: #5c5b5b;
  background-color: #f8f8f8;
}

.purchase-products h4{
  font-size: 22px;
}

.purchase-products span{
  font-size: 17px;
}

.item-filter{
  display: flex;
  justify-content: center;
}

.img-forgot{
  width: 70%;
}
/* Estilos responsivos */
@media (max-width: 768px) {
  /* Sidebar Styles */

  .header-public {
    flex-direction: column;
  }

  .title-pag,
  main h2 {
    text-align: center;
    font-size: 25px;
  }

  .toggle-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }

  /* Estilo para el botón de cerrar */
  .close-btn {
    position: absolute;
    top: 25px;
    right: 15px;
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .carrito-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Asegúrate de que siempre esté visible */
  }

  .header-public .opciones-cinta,
  .header-public .columna,
  .profile {
    display: none;
  }

  .header-public.show-menu .columna-2 {
    display: block;
    width: 100%;
    text-align: center;
  }

  .Menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 350px;
    background-color: #b685b7;
    color: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .Menu.open {
    transform: translateX(0);
  }

  /* styles.css */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  /* Estilo para la lista del menú */
  ul {
    list-style: none;
    padding: 0;
    margin: 60px 0 0 0;
  }

  .sidebar-item {
    margin: 15px 0;
    color: white;
  }

  .sidebar-item a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #b685b7;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .sidebar-item a:hover {
    background-color: #f8c6f9;
    color: #060606;
  }
  .logout a:hover {
    background-color: #d63722;
    color: #fff;
  }

  .login a:hover {
    background-color: #328e41;
    color: #ffffff;
  }

  .footer-public {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .columna-1,
  .columna-2,
  .columna {
    width: 100%;
    text-align: center;
  }

  .footer-public .column {
    width: 100%;
    text-align: center;
  }

  .footer-public .column ul {
    margin-left: 45px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-user {
    width: 100px;
    height: auto;
  }

  .logo-app {
    height: 60px;
  }

  .sidebar-toggle {
    display: block;
  }

  .sidebar-item .logo-user {
    width: 50px;
  }

  .header-public .opciones-cinta {
    display: none;
  }
  .dropdown {
    width: 100%;
  }

  .dropdown-list li:hover {
    background-color: #8b5f98 !important;
  }

  .carousel-container {
    max-height: 80px !important;
  }
  .icons-sidebar {
    border-radius: 100%;
    background-color: rgb(232, 247, 255);
    padding: 3px;
    color: #000000;
    font-size: 35px;
    margin-right: 15px;
  }
  .category-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* Estilo general para la lista de categorías */
  .lista-categorias {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #b685b7;
    border-left: 2px solid #6c757d;
  }

  .lista-categorias li {
    padding: 10px 15px;
    font-size: 14px;
    border-bottom: 1px solid #d0d1d1;
    transition: background-color 0.3s ease;
  }

  .border-slider {
    border-color: #d0d1d1;
    border: solid;
  }

  .lista-categorias li:hover {
    background-color: #f8c6f9;
  }

  .lista-categorias li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: larger;
  }

  .lista-categorias li a:hover {
    color: #060606;
  }

  .lista-categorias ul {
    display: none;
  }

  .lista-categorias.open ul {
    display: block;
  }

  /* Catalogo */
  .catalog .card {
    width: 320px !important;
  }

  .hr-primary {
    margin-left: 10px !important;
  }

  main {
    margin-left: 0px !important;
  }

  main h2 {
    margin-left: 10px !important;
  }

  /* Filtro de busqueda */
  .advanced-search {
    padding: 1rem; /* Ajusta el padding para pantallas más pequeñas */
  }

  .advanced-search .row {
    justify-content: center !important;
  }

  .advanced-search h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .advanced-search .col-12 {
    margin-bottom: 1rem;
  }

  .advanced-search .col-md-5 {
    width: 100%;
  }

  .advanced-search .form-check-input {
    margin-right: 0.5rem;
  }

  .advanced-search .btn {
    width: 100%;
    text-align: center;
  }

  .container {
    margin-top: 0px !important;
  }

  .product-detail-img img {
    width: 300px;
    height: auto;
  }

  /* Carrusel */
  .carrusel-detalle {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .carrusel-detalle .card {
    flex: 0 0 80%; /* Ajusta el ancho de las tarjetas en pantallas pequeñas */
    margin-right: 8px; /* Reduce el espacio entre tarjetas */
  }

  /* Ajustar los botones para que sean más pequeños */
  .carrusel-button {
    padding: 4px;
  }

  .carrusel-button-left {
    left: 4px;
  }

  .carrusel-button-right {
    right: 4px;
  }

  /* Botones de navegación */
  .carrusel-button {
    position: absolute;
    top: 180%;
    transform: translateY(-50%);
  }

  /* Carrito component */
  .item-carrito-responsive {
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    width: 50% !important;
    margin-bottom: 20px;
  }

  .img-carrito-row{
    width: 50% !important;
    margin-bottom: 5px;
  }

  .product-carrito{
    margin-left: 0px !important;
  }

  .item-no-responsive{
    display: none !important;
  }

  .item-responsive{
    display: block !important;
  }

  /* Modal de confirmacion vaciar carrito */

  .confirmation-delete{
    width: 40%;
  }

  /* Notidication */
  .card-notification{
    margin-top: 20px;
  }

  .img-address{
    width: 70%;
  }

  .faqs h3{
    font-size: 22px;
    font-weight: bold;
  }

  .faqs p{
    font-size: 18;
    margin-bottom: 20px;
  }

  .img-login{
    width: 70%;
    margin-bottom: 20px;
  }


  /* Purchase history */
  .purchase-products{
    font-size: large;
  }

  .img-purchase{
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cont-btn-filter{
    width: 100%;
  }

  .cont-btn-filter .btn{
    width: 20% !important;
  }

  /* Perfil de usuario */

  .profile-usr img{
    width: 60%;
    margin-bottom: 20px;
  }

  .img-profile-usr img{
    width: 60%;
    margin-bottom: 20px;
  }

  .cont-btn{
    display: flex !important;
    justify-content: end !important;
  }

  .admin-address{
    justify-content: center !important;
  }
  .admin-address .btn{
    /* width: 100% !important; */
    margin-right: 30px;
  }

  .btn-update-address{
    margin-top: 20px;
  }




  /* User profile sidebar */
  .sidebar-container {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sidebar-container.open {
    display: block;
  }

  .toggle-user {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: #6c757d
  }


  .toggle-user .menu-profile-user {
    color: #fff;
    margin: 5px;
    margin-left: 10px;
  }

  .menu-profile-user {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #007bff;
  }

  .dropdown-menu-user {
    background-color: #6c757d;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .dropdown-item {
    padding-left: 30px !important;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: #fff !important;
  }

  .dropdown-item:last-child {
    border-bottom: none;
  }

  .dropdown-item:hover {
    background-color: #9a9a9a !important;
    color: #060606 !important;
  }

  .dropdown-item{
    background-color: #6c757d !important;
  }
}
